<template>
    <div v-if="game">
        <div v-if="game.isFinished">
            <p>
                Game is over <br>
                <span v-if="game.winner">Winner - {{ game.winner.name }}</span>
            </p>
        </div>
        <div v-else>
            <p>Current move - {{ game.currentPlayer.name }}({{ game.currentPlayer.marker }})</p>
        </div>

        <table class="table table-bordered">
            <tr v-for="(row, y) in game.board.data">
                <td v-for="(item, x) in row" v-on:click="makeMove(x, y)">{{ item }}</td>
            </tr>
        </table>

        <sweet-modal icon="error" ref="error">
            <span v-if="errors">{{ errors.form.game }}</span>
        </sweet-modal>
        <sweet-modal icon="success" ref="success">
            <span v-if="game.winner.name">Game over. Winner - {{ game.winner.name }}</span>
            <span v-else>Game over. Draw</span>
        </sweet-modal>
    </div>
</template>
<script>
    import {getGame, makeMove} from '../helpers/api'
    export default {
        props: ['gameId'],
        data: function () {
            return {
                game: null,
                errors: null
            }
        },
        mounted() {
            this.getGame(this.gameId)
        },
        methods: {
            getGame: function (gameId) {
                getGame(gameId).then(response => {
                   this.game = response.data;
                });
            },
            makeMove: function (x, y) {
                makeMove(this.gameId, {x: x, y: y})
                    .then(response => {
                        this.game = response.data;

                        if (this.game.isFinished) {
                            this.$refs.success.open()
                        }
                    })
                    .catch((errors) => {
                        this.errors = errors.response.data;
                        this.$refs.error.open()
                    })
                ;
            },
        }
    }
</script>
<style scoped>

</style>
